.card{
    position: absolute;
    left: 25%;
    top: 30%;
    width: 370px;
    height: 450px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    text-align: center;
}

.card h2{
    font-family: 'Kaiti';
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 1px;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique 15deg;
    color: rgba(250,1,1,1);
}

.card p{
    font-family: 'Kaiti';
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13px;
    font-style: oblique 15deg;
    font-weight: bold;
    color: rgba(36,35,35,1);
}

