.card{
    position: absolute;
    left: 50%;
    top: 45%;
    width: 350px;
    height: 480px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    text-align: center;
}

.card h2{
    position: absolute;
    left: 45%;
    top: -15%;
    font-family: 'Kaiti';
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 1px;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique 15deg;
    color: rgba(36,35,35,1);
}

.timeline{
    position: absolute;
    width: 310px;
    height: 300px;
    padding: auto;
    font-family: 'Kaiti';
    font-weight: bold;
}