.book1{
    position: absolute;
    left: 20%;
    top: 2%;
}

.book2{
    position: absolute;
    left: 70%;
    top: 2%;
}

.book3{
    position: absolute;
    left: 20%;
    top: 52%;
}

.book4{
    position: absolute;
    left: 70%;
    top: 52%;
}

.bookcontent{
    position: absolute;
    left: 30%;
    top: 0%;  
}